a.deleteIcon img {
	/*box-shadow: none;*/
	/*position: relative;*/
	/*right: 7px;*/
	/*top: -5px;*/
	/*margin-top: 4px;*/
	opacity: 0;
	/*display: block;*/
	transition: all .5s ease-in-out;
}

.removable:hover a.deleteIcon img {
	opacity: 1;
	z-index: 99;
}

.deleteIconSize {
	width: 20px;
	height: 20px;
}