@media screen and (min-width: 568px) {

	body, html {
		box-sizing: border-box;
	}

	.carousel {
		width: 75%;
		height: 30%;
		margin: auto;
	}

	#languageContainer {
		margin: auto;
	}

	#usersContainer {
		margin: auto;
	}

	#languagesContainer1 {
		margin: auto;
	}

	#languagesContainer2 {
		margin: auto;
	}

	/*button {*/
	/*    color: white;*/
	/*}*/
	.rounded-circle {
		margin-left: 10%;
	}

	.carousel-caption > h5 {

		font-size: 50px;
		/*margin-bottom: 130px ;*/

	}

	.carousel-caption > p {
		margin-bottom: 180px;
		font-size: 30px;
		z-index: 5;

	}

}
