body, html {
	box-sizing: border-box;
}

.carousel-caption > h5 {
	font-family: 'Open Sans', sans-serif;

	margin-top: 60px;
	font-size: 50px;
	margin-bottom: 20px;
}

.carousel-caption > p {
	font-family: 'Open Sans', sans-serif;

	margin-bottom: 60px;
	font-size: 36px;
	z-index: 5;
}

.carousel-caption {
	margin-top: 50px;
	/*width: 100%;*/
	/*left: 15%;*/
	top: 50% !important;
	transform: translateY(-60%);
	text-align: left;
	/*-webkit-text-stroke-width: 1px;*/
	/*-webkit-text-stroke-color: black;*/
	/*text-shadow:*/
	/*		-2px -2px 0 #000,*/
	/*		2px -2px 0 #000,*/
	/*		-2px 2px 0 #000,*/
	/*		2px 2px 0 #000;*/
	/*bottom: initial;*/
	/*background-color: #00000033;*/
}

.custom-btn {
	margin-bottom: 70px;
}

.langoFont {
	font-family: 'Open Sans', sans-serif;
}
