label.required:after {
	content: " *";
	color: red;
}

li {
	list-style: none;
}


.custom-nav-link {
	color: white !important;
}


.navbar {
	/*background-image: linear-gradient(to right top, #16202f, #1c283a, #223145, #273a50, #2d435c);*/
	background-image: linear-gradient(to right top, #1c2b3d, #1c2b3d );

}

