label.required:after {
	content: " *";
	color: red;
}

li {
	list-style: none;
}

.custom-nav-link {
	color: white !important;
	font-size: large;
}

.navbar {
	/*background-image: linear-gradient(to right top, #16202f, #1c283a, #223145, #273a50, #2d435c);*/
	background-image: linear-gradient(to right top, #375277, #375277 );

}

.btn-secondary, .btn-outline-secondary {
	background-color:#375277 !important;
	color: white !important;
}

.btn-secondary:hover, .btn-outline-secondary:hover {
	background-color:#466896 !important;
}

.custom-container{
	width: 90%;
	margin: auto
}

.custom-bg{
	background-color: #eeebed;
}

.badge-secondary {
	background-color:#375277 !important;
}

.card-img {
	object-fit: cover;
}